.background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(51, 135, 92, 0.3393732492997199) 100%
  );
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 200px;
  justify-content: space-between;
}

.naEcommerce {
  margin-bottom: 34px;
}
